{{ partial "header" . }}
{{ partial "nav" . }}

<section class="section">
    <div class="container">

        <article>
            <header>
                <h1 class="title">{{.Title}}</h1>
            </header><br>
            <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
            <div class="content">
                {{.Content}}
            </div>
            <hr>
        </article>
        <ul>
        <!-- Ranges through content/posts/*.md -->
        {{ range .Pages }}
            <article>

            
                <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
                <div class="content">
                {{ .Summary | plainify | safeHTML }}
            </article>
        {{ end }}
        </ul>

    </div>
</section>

{{ partial "pager" . }}
{{ partial "footer" . }}